<section>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    "
  >
    <div style="display: flex; gap: 10px">
      <button mat-raised-button color="primary" (click)="addTask()">
        <i class="pi pi-plus"></i> Adicionar Tarefa
      </button>
      <button mat-raised-button color="warn" (click)="logoff()">
        <i class="pi pi-sign-out"></i> Logoff
      </button>
    </div>
    <span>Usuário : {{ userName }} </span>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
    <!-- Título da Tarefa -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <!-- Descrição da Tarefa -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let task">{{ task.description }}</td>
    </ng-container>

    <!-- Status da Tarefa -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Concluída</th>
      <td mat-cell *matCellDef="let task">
        <mat-checkbox [checked]="task.completed" disabled></mat-checkbox>
      </td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let task" class="actions-cell">
        <button
          mat-icon-button
          (click)="markAsCompleted(task.taskId)"
          aria-label="Marcar como concluída"
          matTooltip="Marcar como concluída"
        >
          <i class="pi pi-check"></i>
          <!-- PrimeIcons check icon -->
        </button>
        <button
          mat-icon-button
          (click)="editTask(task)"
          aria-label="Editar tarefa"
          matTooltip="Editar tarefa"
        >
          <i class="pi pi-pencil"></i>
          <!-- PrimeIcons edit icon -->
        </button>
        <button
          mat-icon-button
          (click)="deleteTask(task.taskId)"
          aria-label="Remover tarefa"
          matTooltip="Remover tarefa"
        >
          <i class="pi pi-trash"></i>
          <!-- PrimeIcons trash icon -->
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalTasks"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 25, 50]"
    (page)="pageChanged($event)"
  >
  </mat-paginator>
</section>
