.mat-table {
    width: 100%;
  }
  
  .mat-header-cell {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  
  .mat-cell {
    padding: 16px;
  }
  
  .mat-cell .text-center {
    display: flex;
    justify-content: center;
  }
  